RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([^/]+)/?$ index-laungh.php?lang=$1 [L]
RewriteRule ^([^/]+)/([^/]+)/([^/]+)/?$ index-laungh.php?lang=$1&section=$2&subsection=$3 [L]