RewriteEngine On

# Правило для задачников
RewriteRule ^([a-z]+)/tasks/?$ tasks.php?slug=$1 [L,QSA]

# Правило для языков
RewriteRule ^([a-z]+)/?$ index-laungh.php?lang=$1 [L,QSA]

# Правило для разделов
RewriteRule ^([a-z]+)/([a-z-]+)/([a-z-]+)/?$ index-laungh.php?lang=$1&section=$2&subsection=$3 [L,QSA]